.booking-section{
    display:flex;
    flex-direction: column;
    margin-top:1rem;
}
.book-button{
    margin:0;
    margin-top:8px;
    margin-left:1rem;

}
.book-ride__btn{
    background-color: black;
    color:white;
}