@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.search-box {
  display: flex;
  flex-direction: column;
  margin-left:1.5rem;
  
  &__label {
    display: block;
    margin: 1rem 0 0.5rem 0; // top margin 1rem, bottom margin 0.5rem
    font-weight: 500;
  }

  &__input {
    width: 90%;
    padding: 5px; 
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border:1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  &__btn{
     width:90%;
     padding:4px 1rem;
     margin:8px 0;
     background-color: $purple;
     border-radius: 5px;
     border: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    &-search__ride{
      margin-top:1rem;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    li {
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
.post-ride-button{
   width: 90%;

  margin-bottom: 1rem;
  padding: 6px;
  background-color: black;
  color:white;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
}