@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/variables.scss' as *;


.riderRegister{
    display: flex;
    flex-direction: column;
    
   
    padding:10px 2rem;
    &__row{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
      
    }
    &__label{
        margin-right: 10px;
        white-space: nowrap;
    }
    &__input{
        width: 90%;
        padding: 5px; 
        margin: 0;
        box-sizing: border-box;
        border-radius: 5px;
        border:1px solid black;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    &__btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__btn{
     width:100%;
     padding:4px 5.5rem;
     margin:8px;
     background-color: $purple;
     border-radius: 5px;
     border: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    &__backBtn{
       width: 100%;
        padding:5px 7.7rem;
        background-color: black;
        color:white;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        margin-bottom: 2rem;
    }
   
}