footer {
    display: flex;
    justify-content: center;
    align-items: bottom;
    flex-direction: row;
    margin: 1rem;
    padding: 5px;
    background-color: #f0f0f0; /* Replace with your desired background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }