@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/variables.scss' as *;
.start-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   &__hero-img{
    width:95%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin:1rem;
   }
    &__img{
        height:200px;
        width:290px;
        padding:2rem;
        
        align-items: center;
    }
    &__title{
       margin:0px;
       margin-top:1rem;
    }
    &__detail{
        margin:0px;
        margin-bottom: 8px;
     }
    &__btn{
       
        background-color: $purple;
        color:$black;
        border:1px solid black;
        padding:8px;
        border-radius: 5px;
        margin:8px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    &__para{
        margin:0;
    }
}